/**
 * Style for Morpheus Neo4j administration.
 */ 

body, #morpheus { width:100%; height:100%; color: #333; background:#ebebeb; padding:0;margin:0; font-family:"Lucida Sans","Trebuchet MS",sans-serif; }

h1 { font-size:1.2em; }
h2 { font-size:1.1em; }
h3 { font-size:1.0em; }
h4 { font-size:0.9em; }
h5 { font-size:0.8em; }
h6 { font-size:0.7em; }

/* UI ROOT */

#mor_header { width:100%; height:50px; background:url(../img/header_bg.png) repeat-x;  }
#mor_header_icon { float:left; margin: 4px 30px 0 10px; }

#mor_pages { padding: 5px 10px 10px; }

#mor_footer { width:100%; height:31px; background:url(../img/footer_bg.png) repeat-x;  }

#mor_mainmenu { margin:0; list-style:none; padding: 24px 0 0 0; }
#mor_mainmenu li { height:22px; float:left; margin:0 4px; padding: 2px 4px; }
#mor_mainmenu a { color:#ebebeb; text-decoration:none; }
#mor_mainmenu li.current { background:#ebebeb; }
#mor_mainmenu li.current a { color:#474f52; font-weight:bold; }

/* GENERICS */

.disabled { color: #666; }
.break { clear:both; }
.small { font-size:.8em; font-weight:light; color: #444; } 
.coolbox {  padding: 6px 10px; background:#f7f7f7; border:1px solid #d5d5d5;  }

.warning { padding: 6px 10px; background:#FAF68C; border:1px solid #d5d5d5; }

/* 
   PAGE STUFF
                 */
.mor_page_leftcol { width: 30%; float:left; }
.mor_page_center { width: 30%; float:left; }
.mor_page_rightcol { width: 30%; float:left; }


/* 
   COMPONENTS   
                 */

/* Overview */

.mor_overview_server-list { list-style:none; margin:0; padding:0; }

.mor_overview_server img { float:left; border:1px solid #d5d5d5; padding:3px; }

.mor_overview_server_name a { color: #333; font-weight:bold; font-size:1.2em; text-decoration:none; }
.mor_overview_server_info { float:left; padding: 0 0 0 10px; } 