/**
 * Style for Morpheus Neo4j administration.
 */ 

body, #morpheus { width:100%; height:100%; color: #333; background:#ebebeb; padding:0;margin:0; font-family:arial, sans-serif; }

h1 { font-size:1.2em; }
h2 { font-size:1.1em; }
h3 { font-size:1.0em; }
h4 { font-size:0.9em; }
h5 { font-size:0.8em; }
h6 { font-size:0.7em; }

/* GENERICS */

.disabled { color: #666; }
.break { clear:both; }
.small { font-size:.8em; font-weight:light; color: #444; } 
.coolbox {  padding: 6px 10px; background:#f7f7f7; border:1px solid #d5d5d5;  }

.warning { padding: 6px 10px; background:#EB7775; border:1px solid #d5d5d5; }
.notice { padding: 6px 10px; background:#FAF68C; border:1px solid #d5d5d5; }
.info { padding: 6px 10px; background:#C0F09C; border:1px solid #d5d5d5; }

.uncommitted { background:#A1D46A; }

.small { font-size:90%; color:#555; }

/* UI ROOT */

#mor_header { width:100%; height:50px; background:url(../img/header_bg.png) repeat-x;  }
#mor_header_icon { float:left; margin: 4px 30px 0 10px; }

#mor_pages { padding: 5px 10px 10px; }

#mor_footer { width:100%; height:31px; background:url(../img/footer_bg.png) repeat-x;  }

#mor_mainmenu { margin:0; list-style:none; padding: 24px 0 0 0; }
#mor_mainmenu li { height:22px; float:left; margin:0 4px; padding: 4px 8px 2px; }
#mor_mainmenu a { color:#ebebeb; text-decoration:none; }
#mor_mainmenu li.current { background:#ebebeb; }
#mor_mainmenu li.current a { color:#474f52; font-weight:bold; }

/* 
   PAGE STUFF
                 */
.mor_page_leftcol { width: 25%; float:left; }
.mor_page_rightcol { width: 70%; float:left; padding: 0 0 0 20px; }
.mor_page_widecol { width: 100%; }

/* 
   COMPONENTS   
                 */

/* Backup */

.mor_backup_foundationbox { padding: 6px 10px; margin: 16px 0;}

/* Gremlin */

.mor_gremlin_console_wrap { border-left: 10px solid black;  background: #333; height:400px; overflow:auto;  }
.mor_gremlin_console { width: 90%; background: #333; height: 400px; float:left; }
.mor_gremlin_console p { font-size: 12px; font-family: monospace; color:#fafafa; margin:0; padding:0; font-weight:normal; }
.mor_gremlin_console p input { display:block; width: 95%; float:left; background:transparent; border:none; color:inherit; font-size: inherit; font-family: inherit;  }

/* JMX */

.mor_jmx_list { margin:0; padding:5px; list-style:none; font-size:70%; }
.mor_jmx_list li h2 { margin: 6px 0; }
.mor_jmx_list li ul { margin:0; list-style:none; padding: 0 0 0 5px;} 
.mor_jmx_list li ul li { }

.mor_jmx_table { border-spacing:0; table-layout:fixed; width:100%; }
.mor_jmx_table table { table-layout:fixed; width:100%; }
.mor_jmx_table  p.description { font-size:90%; color:#555; }

.mor_jmx_table td, .mor_jmx_table th {vertical-align:top;}
.mor_jmx_table h3 { margin: 2px 0; font-size:13px; }
.mor_jmx_table h4 {margin: 2px 0;  font-size:12px;}
.mor_jmx_table td, .mor_jmx_table th {margin: 2px 0; font-size:12px; border-bottom:1px solid #c5c5c5; }

/* Overview */

.mor_overview_server-list { list-style:none; margin:0; padding:0; }

.mor_overview_server img { float:left; border:1px solid #d5d5d5; padding:3px; }

.mor_overview_server_name a { color: #333; font-weight:bold; font-size:1.2em; text-decoration:none; }
.mor_overview_server_info { float:left; padding: 0 0 0 10px; } 